{% extends 'index.html' %}

{% block content %}
    <div class="case-container">
        <div class="box-title">
            <hr><h2>{{ name }}</h2><hr>
        </div>
        <div id="slider">
            <div id="line">
                <img src="../static/img/phone_1.png" alt="phone" class='slider-img'>
                <img src="../static/img/phone_2.png" alt="phone" class='slider-img'>
                <img src="../static/img/phone_3.png" alt="phone" class='slider-img'>
                <img src="../static/img/phone_4.png" alt="phone" class='slider-img'>
                <img src="../static/img/phone_5.png" alt="phone" class='slider-img'>
            </div>
            <div id="active-item"></div>
        </div>
        <a href="#" class="open-box-button">Открыть</a>
    </div>
{% endblock %}