{% extends 'index.html' %}

{% block content %}
    <div class="form-container">
        <h3 style="text-align: center">Способы доставки</h3>
        <hr>

        <h4 class="delivery-name">Самовывоз</h4>
        <div class="answer">
            <p>Вы можете самостоятельно забрать товар из пункта выдачи заказов ECL:</p>
            <ul>
                <li>г.Владивосток, ул. Ладыгина 17-В</li>
            </ul>
            <p>Преимущества самовывоза: </p>
            <ul>
                <li>возможность забрать товар в удобное для Вас время</li>
                <li>распаковка и проверка товара в Вашем присутствии</li>
                <li>оперативный обмен цвета или конфигурации (при наличии в магазине)</li>
                <li>индивидуальная подборка аксессуаров и расходных материалов</li>
            </ul>
        </div>

        <h4 class="delivery-name">Адрессная доставка по Владивостоку</h4>
        <p class="answer">
            Доставка по Владивостоку осуществляется курьером. Стоимость доставки составляет 150₽. В целях
            безопасности курьеры доставляют товар исключительно к подъезду дома.
        </p>
    </div>
{% endblock %}