<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Epic case loot</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body class="darkBg">
    <div class="wrapper">
        <header>
            <nav>
                <a href="/">
                    <img src="../static/img/logo.png" alt="Лого сайта"
                    width="100px" height="70px" id="logo">
                </a>

                <div class="nav-line">
                    <a href="/" class="nav-a">Главная</a>
                    <a href="#" class="nav-a">Доставка</a>
                    <a href="#" class="nav-a">О нас</a>
                </div>

                {% if current_user.is_authenticated %}
                    <div>
                        <a class="navbar-brand" id="name" href="/logout">{{ current_user.username }}</a> <br>
                        <div class="money">Баланс: {{ current_user.money }}</div>
                        <a href="/"><img src="../static/img/plus.png" alt="Пополнить баланс"
                                         width="17px" id="plus_money"></a>
                    </div>

                {% else %}
                    <div class="nav-buttons">
                        <a href="/register" class="btn btn-warning" id="btn-register"><b>Зарегистрироваться</b></a>
                        <a href="/login" class="btn btn-warning" id="btn-login"><b>Войти</b></a>
                    </div>
                {% endif %}
            </nav>

            <div class="win-bar">

            </div>
        </header>

        <main>
             {% block content %}{% endblock %}
        </main>

        <footer>
            <span>Copyright © 2021</span> <span id="footer-age">18+</span>
        </footer>
    </div>

    <script src="../static/js/snow/snowfall.jquery.min.js"></script>

    <script>
        $(document).ready(function() {

            document.body.className  = "darkBg";

            $(document).snowfall({
                flakeCount: 30
            });

        });
    </script>
</body>
</html>
