{% extends 'index.html' %}

{% block content %}
    <div class="box-group">
        <div class="box">
            <a href="#" class="container-box">
                <img src="../static/img/top_smart.png" alt="Лучшие телефоны" width="100%" class="box-img">
                <span class="price">20₽</span>
                <img src="../static/img/price.png" alt="Ценник" class="end-of-price" width="30px">
            </a>
            <a href="#" class="open-box-button">Открыть коробку</a>
        </div>
        <div class="box">
            <a href="#" class="container-box">
                <img src="../static/img/elite.png" alt="Лучшие телефоны" width="100%" class="box-img">
                <span class="price">30₽</span>
                <img src="../static/img/price.png" alt="Ценник" class="end-of-price" width="30px">
            </a>
            <a href="#" class="open-box-button">Открыть коробку</a>
        </div>
        <div class="box">
            <a href="#" class="container-box">
                <img src="../static/img/iphone.png" alt="Лучшие телефоны" width="100%" class="box-img">
                <span class="price">55₽</span>
                <img src="../static/img/price.png" alt="Ценник" class="end-of-price" width="30px">
            </a>
            <a href="#" class="open-box-button">Открыть коробку</a>
        </div>
        <div class="box">
            <a href="#" class="container-box">
                <img src="../static/img/man.png" alt="Лучшие телефоны" width="100%" class="box-img">
                <span class="price">100₽</span>
                <img src="../static/img/price.png" alt="Ценник" class="end-of-price" width="30px">
            </a>
            <a href="#" class="open-box-button">Открыть коробку</a>
        </div>
        <div class="box">
            <a href="#" class="container-box">
                <img src="../static/img/playstation.png" alt="Лучшие телефоны" width="100%" class="box-img">
                <span class="price">550₽</span>
                <img src="../static/img/price.png" alt="Ценник" class="end-of-price" width="30px">
            </a>
            <a href="#" class="open-box-button">Открыть коробку</a>
        </div>
        <div class="box">
            <a href="#" class="container-box">
                <img src="../static/img/knife.png" alt="Лучшие телефоны" width="100%" class="box-img">
                <span class="price">250₽</span>
                <img src="../static/img/price.png" alt="Ценник" class="end-of-price" width="30px">
            </a>
            <a href="#" class="open-box-button">Открыть коробку</a>
        </div>
    </div>
{% endblock %}
