{% extends 'index.html' %}

{% block content %}
    <div class="form-container">
        <h3 style="text-align: center">Вопросы и ответы</h3>
        <hr>

        <h4 class="question">Как это работает?</h4>
        <p class="answer">На сайте расположены коробки-сюрпризы. Открывая коробку вы получаете один из представленных
            реальных предметов,
            который можете заказать с доставкой на дом или продать. Стоимость открытия коробки всегда одинаковая, независимо
            от того, какой вам выпал предмет.
            Таким образом, вы можете получить дорогие и интересные товары по очень низким ценам.
        </p>

        <h4 class="question">Мне точно выпадет какой-то товар?</h4>
        <p class="answer">Открывая коробку мы гарантируем, что вы точно получите один из товаров в коробке. Открытие коробки
            в ECL аналогично киндер-сюрпризу, вы всегда получаете свой сюрприз.
        </p>

        <h4 class="question">Как открыть коробку и получить товар?</h4>
        <div class="answer">
            <ol>
                <li>Пройдите простую регистрацию на сайте.</li>
                <li>Пополните баланс на сумму, необходимую для открытия коробки.</li>
                <li>Перейдите на страницу открытия коробки и нажмите кнопку «Открыть коробку».</li>
                <li>С вашего баланса на сайте будет автоматически списана стоимость открытия коробки.</li>
                <li>Подождите пока лента с товарами остановится и определится товар, который выпал именно вам!</li>
                <li>Решите, что хотите сделать с товаром - продать или заказать доставку.</li>
            </ol>
        </div>

        <h4 class="question">Как заказать доставку товаров?</h4>
        <p class="answer">
            Подробную информацию об условиях и порядке получения товаров вы можете прочитать в на странице
            «<a href="/delivery">Доставка</a>».
        </p>
    </div>
{% endblock %}